<template>
  <div id="createFlatbond">
    <h1 :class="{success: flatbondSaveSuccessOrError === true, error: flatbondSaveSuccessOrError === false}">{{ flatBondCreateTitle }}</h1>

    <div class="loader-container" v-if="contentLoaded === null">
      <rotate-square2></rotate-square2>
    </div>

    <template v-if="contentLoaded === true">
      <transition name="wizard-transitions"
                  enter-active-class="animated fadeIn"
                  enter-leave-class="animated fadeOut"
                  mode="out-in">
        <div class="field-container" v-if="wizardStep === 1" key="postcode">
          <label for="postCode">What's your postcode?</label>
          <input type="text" name="postCode" id="postCode" v-model="postCode" v-validate="validationRules.postCode" data-vv-as="postcode" />

          <div class="button-container">
            <div class="error-message">{{ errors.first('postCode') }}</div>

            <button type="button" class="next" @click="incrementWizardSteps">Next</button>
          </div>
        </div>

        <div class="field-container" v-if="wizardStep === 2" key="rentpaid">
          <label for="rentPaid">How often do you pay your rent?</label>
          <select id="rentPaid" name="rentPaid" v-model="rentPaid" v-validate="validationRules.rentPaid" data-vv-as="rent payment frequency">
            <option :value="null" disabled>--- Please select an option ---</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>

          <div class="button-container">
            <div class="error-message">{{ errors.first('rentPaid') }}</div>

            <button type="button" class="back" @click="deincrementWizardSteps">Back</button>
            <button type="button" class="next" @click="incrementWizardSteps">Next</button>
          </div>
        </div>

        <div class="field-container" v-if="wizardStep === 3" key="rentamount">
          <label for="rentAmount">{{ rentPaidWizardQuestion }} rent amount:</label>
          <span class="currency-symbol">&pound;</span><input type="number" :min="minRent" :max="maxRent" inverval="0.01" name="rentAmount" id="rentAmount" v-model="rentAmount" v-validate="validationRules.rentAmount" :data-vv-as="rentPaidWizardQuestion.toLowerCase() + ' rent amount'" />

          <div class="button-container">
            <div class="error-message">{{ errors.first('rentAmount') }}</div>

            <button type="button" class="back" @click="deincrementWizardSteps">Back</button>
            <button type="button" class="next" @click="incrementWizardSteps">Next</button>
          </div>
        </div>

        <div class="membership-fee" v-if="wizardStep === 4" key="displayquote">
          <ul>
            <li>
              <strong>Membership Fee:</strong> {{ membershipFee | currency }}
            </li>

            <li>
              <strong>VAT:</strong> {{ (membershipFee * 0.20) | currency }}
            </li>

            <li>
              <strong>Total Fee:</strong> {{ (parseFloat(membershipFee) + parseFloat(membershipFee * 0.20)) | currency }}
            </li>
          </ul>

          <div class="button-container">
            <button type="button" class="back" @click="deincrementWizardSteps">Back</button>
            <button type="button" class="next" @click="incrementWizardSteps">Save Flatbond</button>
          </div>
        </div>

        <div class="saved-flatbond" v-if="wizardStep === 5" key="savedFlatbond">
          <template v-if="saveError">
            <h2>Ooops!</h2>
            <p>
              There was a problem saving your flatbond. Try again in a few minutes.
            </p>
          </template>
          <template v-else>
            <h2>Success!</h2>
            <p>Your flatbond has been saved. You can view it's information below:</p>
            <ul>
              <li>
                <strong>Your postcode:</strong> {{  postCode }}
              </li>
              <li>
                <strong>You pay your rent:</strong> {{ rentPaidWizardQuestion }}
              </li>
              <li>
                <strong>Your {{ rentPaid }} rent amount is:</strong> {{ rentAmount | currency }}
              </li>
              <li>
                <strong>Fee breakdown:</strong>
                <ul>
                  <li>
                    <strong>Membership Fee:</strong> {{ membershipFee | currency }}
                  </li>

                  <li>
                    <strong>VAT:</strong> {{ (membershipFee * 0.20) | currency }}
                  </li>

                  <li>
                    <strong>Total Fee:</strong> {{ (parseFloat(membershipFee) + parseFloat(membershipFee * 0.20)) | currency }}
                  </li>
                </ul>
              </li>
            </ul>

            <div class="button-container">
              <button type="button" class="next" @click="startOver">Start Again</button>
            </div>
          </template>
        </div>
      </transition>

    </template>

    <template v-if="contentLoaded === false">
      <h2>Oh no!</h2>
      <p>There was a problem loading this page. Try again in a few minutes.</p>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import { RotateSquare2 } from 'vue-loading-spinner'

export default {
  name: 'createFlatbond',

  components: {
    RotateSquare2
  },

  methods: {
    clearValues () {
      return new Promise((resolve) => {
        this.rentPaid = null
        this.rentAmount = 0
        this.postCode = ''
        this.fixedMembershipFee = false
        this.fixedMembershipFeeAmount = 0

        this.wizardStep = 1
        this.saveError = false

        return resolve(true)
      })
    },

    startOver (event) {
      event.preventDefault()

      this.contentLoaded = null
      this.clearValues().then(() => {
        this.fetchMembershipConfig()
      })
    },

    incrementWizardSteps (event) {
      event.preventDefault()

      if (this.wizardStep < 4) {
        let fieldName = ''
        switch (this.wizardStep) {
          case 1:
            fieldName = 'postCode'
            break

          case 2:
            fieldName = 'rentPaid'
            break

          case 3:
            fieldName = 'rentAmount'
            break
        }

        this.$validator.validate(fieldName).then((isValid) => {
          if (isValid) {
            this.wizardStep = this.wizardStep + 1
          }
        })
      }

      if (this.wizardStep === 4) {
        this.wizardStep = this.wizardStep + 1
      }

      if (this.wizardStep === 5) {
        this.saveMembersipConfig() // send to api
      }
    },

    deincrementWizardSteps (event) {
      if (this.wizardStep > 1) {
        switch (this.wizardStep) {
          case 2:
            this.rentPaid = null
            break

          case 3:
            this.rentAmount = 0
            break
        }

        this.wizardStep = this.wizardStep - 1

        if (this.wizardStep === 1) {
          // console.log(this.wizardStep)
          this.contentLoaded = null
          this.fetchMembershipConfig() // refetch data
        }
      }
    },

    fetchMembershipConfig () {
      axios({
        method: 'GET',
        url: 'https://cxynbjn3wf.execute-api.eu-west-2.amazonaws.com/production/config'
      }).then((response) => {
        this.fixedMembershipFee = response.data.fixed_membership_fee
        this.fixedMembershipFeeAmount = response.data.fixed_membership_fee_amount
        this.contentLoaded = true
        // console.log(response)
      }).catch(() => {
        this.contentLoaded = false
      })
    },

    saveMembersipConfig () {
      this.contentLoaded = null
      axios({
        method: 'POST',
        data: {
          rent: this.rentAmount,
          postCode: this.postCode
        },
        url: 'https://cxynbjn3wf.execute-api.eu-west-2.amazonaws.com/production/flatbond'
      }).then((response) => {
        this.contentLoaded = true
        this.saveError = false
        // console.log(response)
      }).catch((error) => {
        this.saveError = true
        console.log(error)
      })
    }
  },

  mounted () {
    this.fetchMembershipConfig()
  },

  computed: {
    flatBondCreateTitle () {
      if (this.flatbondSaveSuccessOrError === true) {
        return 'Flatbond Created'
      } else if (this.flatbondSaveSuccessOrError === false) {
        return 'Flatbond Error'
      } else {
        return 'Create Flatbond'
      }
    },

    flatbondSaveSuccessOrError () {
      if (this.wizardStep === 5 && this.saveError === false) {
        return true
      } else if (this.wizardStep === 5 && this.saveError === true) {
        return false
      } else {
        return null
      }
    },

    rentPaidWizardQuestion () {
      let returnString = ''

      if (this.rentPaid !== null) {
        returnString = this.rentPaid.charAt(0).toUpperCase() + this.rentPaid.slice(1)
      }

      return returnString
    },

    membershipFee () {
      let weeklyAmount = 0

      if (this.rentPaid === 'weekly') {
        weeklyAmount = this.rentAmount
      }

      if (this.rentPaid === 'monthly') {
        weeklyAmount = (this.rentAmount * 12) / 52
      }

      if (weeklyAmount < 120) {
        weeklyAmount = 120
      }

      if (this.fixedMembershipFee) {
        weeklyAmount = (this.fixedMembershipFeeAmount / 100)
      }

      return weeklyAmount
    },

    minRent () {
      let minRent = 0
      switch (this.rentPaid) {
        case 'weekly':
          minRent = 25
          break

        case 'monthly':
          minRent = 110
          break
      }

      return minRent
    },

    maxRent () {
      let maxRent = 0
      switch (this.rentPaid) {
        case 'weekly':
          maxRent = 2000
          break

        case 'monthly':
          maxRent = 8660
          break
      }

      return maxRent
    }
  },

  data () {
    return {
      rentPaid: null,
      rentAmount: 0,
      postCode: '',
      fixedMembershipFee: false,
      fixedMembershipFeeAmount: 0,
      contentLoaded: null,
      wizardStep: 1,
      saveError: false,
      validationRules: {
        postCode: {
          required: true,
          regex: /[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}/i // validates UK postcodes
        },
        rentPaid: {
          required: true
        },
        rentAmount: {
          required: true,
          decimal: 2
        }
      }
    }
  }
}
</script>

<style lang="scss">
  // Would usually import this via NPM as a dependancy, but ran into some issues
  // where I couldnt' reference the styles - so for speed, switched to using a CDN.
  @import url('https://cdn.jsdelivr.net/npm/animate.css@3.5.1');

  #createFlatbond {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: #ffffff;
    min-height: 250px;
    width: 670px;
    position: relative;
    padding: 50px 15px 15px 15px;
    border-radius: 4px;

    @media (max-width: 669px) {
      width: 95%;
    }

    h1 {
      border-radius: 4px 4px 0 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      background: #5C88FF;
      padding: 7px 10px;
      color: #ffffff;
      font-weight: 300;
      font-size: 1.9em;
      transition: all 0.3s ease;

      &.success {
        background: #00CAB7;
      }

      &.error {
        background: #FF7967;
      }
    }

    .loader-container {
      display: flex;
      height: 250px;
      justify-content: center;
      align-items: center;
    }

    .button-container {
      margin-top: 15px;
      display: block;

      button {
        padding: 10px;
        border-radius: 3px;
        color: white;
        border: none;
        margin: 3px;
        cursor: pointer;
        transition: all 0.3s ease;

        &.back {
          background: lighten(#5C88FF, 5%);

          &:hover {
            background: darken(#5C88FF, 5%);
          }
        }

        &.next {
          background: darken(#5C88FF, 10%);

          &:hover {
            background: darken(#5C88FF, 20%);
          }
        }
      }

      .error-message {
        // This could be styled and positioned better.
        // In the interest of speed for this test - I'll leave it as is.
        margin-bottom: 10px;
        margin-top: -10px;
        color: red;
      }
    }

    .field-container, .membership-fee {
      padding-top: 15px;

      input, select {
        font-size: 1.2em;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        padding: 3px;
        background: #ffffff;
      }

      input {
        margin-left: 2px;
      }

      label {
        display: block;
        margin-bottom: 3px;
        font-weight: bold;
      }
    }

    .membership-fee, .saved-flatbond {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 15px;

          &:last-of-type {
            background: #d3d3d3;
          }
        }
      }
    }
  }
</style>
