<template>
  <div id="slideshow">
    <div class="slide-container">
      <template v-for="n in totalSlides">
        <transition name="fade" :key="`transition_${n}`">
          <div class="slide" :key="`slide_${n}`" v-show="activeSlide === n" :style="'background-image: url(' + require(`@/assets/slideshow-images/resized/${n}.jpg`) + ');'" />
        </transition>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'slideshow',

  mounted () {
    this.showActiveSlide()
  },

  methods: {
    showActiveSlide () {
      setInterval(() => {
        // console.log(this.activeSlide)

        if (this.activeSlide < this.totalSlides) {
          this.activeSlide = this.activeSlide + 1
        } else {
          this.activeSlide = 1
        }
      }, 7000)
    }
  },

  data () {
    return {
      activeSlide: 1,
      totalSlides: 12
    }
  }
}
</script>

<style lang="scss">
  #slideshow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    .slide-container {
      height: 100%;
      width: 100%;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: rgba(0, 0, 0, 0.6);
      }

      &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: 'Alex Mulchinock for FlatFair';
        background: #000000;
        padding: 5px 8px;
        color: #ffffff;
        z-index: 1;
        font-size: 0.8em;
        opacity: 0.8;
        border-radius: 3px 0 0 0;
      }

      .slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        filter: blur(3px);

        &.fade-enter-active, &.fade-leave-active {
          transition: opacity 2s;
        }

        &.fade-enter, &.fade-leave-to {
          opacity: 0;
        }
      }
    }
  }
</style>
