<template>
  <div id="app">
    <div class="header">
      <img alt="Flatfair logo" src="./assets/flatfair-logo.svg">
    </div>

    <slideshow></slideshow>

    <div id="content-container">
      <router-view/>
    </div>

  </div>
</template>

<script>
import slideShow from './components/slideshow'

export default {
  components: {
    'slideshow': slideShow
  }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

  html, body {
    font-family: 'Roboto', sans-serif;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 60px;
    display: flex;
    padding: 0 10px;
    z-index: 999;

    img {
      display: block;
    }
  }

  #content-container {
    // border: 1px solid red;
    height: calc(100vh - 110px);
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 400px) {
      height: auto;
      // display: block;
    }
  }
</style>
